body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #fff3cd;
    margin: 0;
    padding: 20px;
    color: #333;
}

form {
    background-color: #ffeb99;
    padding: 20px;
    border-radius: 10px;
}

fieldset {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ffa500;
}

legend{
    background-color: red;
}
.campo {
    margin-bottom: 15px;
}

#infoContato {
    background-color: #ffcc80;
}

#infoIdentificacao, #infoEndereco {
    background-color: #ffb74d;
}

input[type="text"], input[type="email"], input[type="date"], input[type="color"], select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffa500;
    width: 100%;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #ff8c00;
}

input[type="reset"]:hover {
    background-color: #ff6347;
}